{% extends 'template.html' %}

{% block title %}{{Info}}{% endblock %}

      
{% block body %}
    <center> <h1>Conoce a los Creadores de Friendly Solutions</h1> </center>

    <section class="testimony">
        <div class="testimony__container container">
            <img src="./images/leftarrow.svg" class="testimony__arrow" id="before">

            <section class="testimony__body testimony__body--show" data-id="1">
                <div class="testimony__texts">
                    <h2 class="subtitle">Mi nombre es Roman Felipe, <span class="testimony__course">Estudiante de 
                    Ingenieria en Sistemas</span></h2>
                    <p class="testimony__review">blabla</p>
                </div>

                <figure class="testimony__picture">
                    <img src="/images/roman.png" class="testimony__img">
                </figure>
            </section>

            <section class="testimony__body" data-id="2">
                <div class="testimony__texts">
                    <h2 class="subtitle">Mi nombre es Jorge Godina, <span class="testimony__course">estudiante de
                    Ingenieria en Sistemas</span></h2>
                    <p class="testimony__review">blabla</p>
                </div>

                <figure class="testimony__picture">
                    <img src="" class="testimony__img">
                </figure>
            </section>

           
            <img src="/images/rightarrow.svg" class="testimony__arrow" id="next">
        </div>
    </section>



    <footer class="footer">
        <section class="footer__container container">
            <nav class="nav nav--footer">
                <h2 class="footer__title">Friendly Solutions</h2>
    
                <ul class="nav__link nav__link--footer">
                    <li class="nav__items">
                        <a href="/" class="nav__links">Inicio</a>
                    </li>
                    <li class="nav__items">
                        <a href="/acerca" class="nav__links">Acerca de</a>
                    </li>
                    <li class="nav__items">
                        <a href="https://api.whatsapp.com/send?phone=4423159281" class="nav__links">Contacto</a>
                    </li>
                    <li class="nav__items">
                        <a href="/blog" class="nav__links">Blog</a>
                    </li>
                </ul>
            </nav>
    
            <form class="footer__form" action="https://formspree.io/f/mknkkrkj" method="POST">
                <h2 class="footer__newsletter">Suscribete a la newsletter</h2>
                <div class="footer__inputs">
                    <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
                    <input type="submit" value="Registrate" class="footer__submit">
                </div>
            </form>
        </section>
    
        <section class="footer__copy container">
    
            <h3 class="footer__copyright">Derechos reservados &copy; Friendly Solutions Incorporated</h3>
        </section>
    </footer>

    <script src="/static/js/slider.js"></script>

{% endblock %}
```