{% extends 'template.html' %}

{% block title %}{{index}}{% endblock %}

      
{% block body %}
    <section class="hero__container container">
        <h1 class="hero__title">Buscaremos darle solucion a tus dudas tecnologicas</h1>
        <p class="hero__paragraph">¡Aprovecha ahora y obtendras una promocion!</p>
        <a href="/servicio" class="cta">Solicita Ahora</a>
    </section>
</header>

<main>
    <section class="container about">
        <h2 class="subtitle">¿Qué servicios ofrecemos?</h2>
        <p class="about__paragraph"></p>

        <div class="about__main">
            <article class="about__icons">
                <img src="./images/shapes.svg" alt="" class="about__icon">
                <h3 class="about__title">Soporte Técnico</h3>
                <p class="about__paragrah">
                    Atendemos cualquier tema relacioando en Hardware y Software de todo tipo de 
                    equipos de computo. Realizamos mantenimientos 
                    preventivos, reparaciones, instalación y configuración de distintos softwares
                    dependiendo tus necesidades 
                     entre otros servicios, 
            </article>

            <article class="about__icons">
                <img src="./images/paint.svg" alt="" class="about__icon">
                <h3 class="about__title">Capacitaciones</h3>
                <p class="about__paragrah">Impartimos cursos y talleres para ayudar a empleados o clientes a adquirir 
                    habilidades técnicas y conocimientos relacionados con el uso de hardware 
                    y software específicos. Si estás interesado en que alguna area de tu empresa 
                    o tu mismo aprenda a usar cierto software, contactanos.  
                
                </p>
            </article>

            <article class="about__icons">
                <img src="./images/iconscode.gif" alt="" class="about__icon">
                <h3 class="about__title">Asesoramiento en Nuevas Tecnologías</h3>
                <p class="about__paragrah">Ofrecemos asesoramiento y recomendaciones sobre tecnología, infraestructura 
                    informática y estrategias empresariales. Esto puede incluir la planificación 
                    de la actualización de sistemas, la implementación de nuevas tecnologías y 
                    la optimización de los recursos informáticos.

                </p>
            </article>
        </div>
    </section>

    <section class="price container">
        <h2 class="subtitle">Consulta algunos de nuetros planes de Servicio</h2>

        <div class="price__table">
            <div class="price__element">
                <p class="price__name">Plan Básico</p>
                <h3 class="price__price">¡Gratis!</h3>

                <div class="price__items">
                    <p class="price__features">Inspeción de Equipos</p>
                    <p class="price__features">Asesoramiento de Soluciones</p>
                    <p class="price__features">Cotizaciones</p>
                </div>

                <a href="/servicio" class="price__cta">Empieza ahora</a>
            </div>


            <div class="price__element price__element--best">
                <p class="price__name">Mantenimiento Preventivo</p>
                <h3 class="price__price">Desde $249</h3>

                <div class="price__items">
                    <p class="price__features">Respaldo de Información</p>
                    <p class="price__features">Mantenimiento en Hardware</p>
                    <p class="price__features">Actualización de programas y/o Sistemas Operativos </p>
                </div>

                <a href="/servicio" class="price__cta">Empieza ahora</a>
            </div>


            <div class="price__element">
                <p class="price__name">Mantenimiento Correctivo</p>
                <h3 class="price__price">Desde $750</h3>

                <div class="price__items">
                    <p class="price__features">Cambio de HHD a SSD, Ampliación de Memoria Ram</p>
                    <p class="price__features">Cambio de algún componente si es posible, 
                        para un mayor rendimiento del equipo.
                    </p>
                </div>

                <a href="/servicio" class="price__cta">Empieza ahora</a>
            </div>


        </div>
    </section>


    <section class="questions container">
        <h2 class="subtitle">Preguntas frecuentes</h2>
        <p class="questions__paragraph">Dudas más Frecuentes de Friendly Solutions.</p>

        <section class="questions__container">
            <article class="questions__padding">
                <div class="questions__answer">
                    <h3 class="questions__title">¿Dónde están ubicados?
                        <span class="questions__arrow">
                            <img src="../static//images/arrow.svg" class="questions__img">
                        </span>
                    </h3>

                    <p class="questions__show">Actualmente contamos con un servicio a domicilio  para recivimiento
                        de equipos, siempre y cuando haya un espacio de tiempo rasonable de la fecha en la que se
                        haya puesto en contacto con nosostros. Friendly Solutions les 
                        dará servicio a los equipos en un espacio de trabajo privado adaptado por nosotros.  

                    </p>
                </div>
            </article>

            <article class="questions__padding">
                <div class="questions__answer">
                    <h3 class="questions__title">¿Cuentán con alguna garantía?
                        <span class="questions__arrow">
                            <img src="../static//images/arrow.svg" class="questions__img">
                        </span>
                    </h3>

                    <p class="questions__show">Por supuesto que sí, todos nuestos servicios
                        de hardware cuentan con alguna garatía (La cuál dependera del componente,
                        calidad y cuidado). En todas las entregas se menciona que garantía se 
                        obtendrá y algunas recomendaciones para el cuidadoo del equipo.
                    </p>
                </div>
            </article>

            <article class="questions__padding">
                <div class="questions__answer">
                    <h3 class="questions__title">¿Cuentán con Soporte Remoto?
                        <span class="questions__arrow">
                            <img src="../static//images/arrow.svg" class="questions__img">
                        </span>
                    </h3>

                    <p class="questions__show">También contamos en Servicios Remotos, usando
                        ciertas herramientas que nos permitan conectarnos a sus dispositivos. 
                       Este servicio es unicamente en un horario de 8am a 1pm. Sin embargo, contamos
                       con atención o aclaración de algún problema por Whatsapp   
                    
                    </p>
                </div>
            </article>
        </section>

</main>

<footer class="footer">
    <section class="footer__container container">
        <nav class="nav nav--footer">
            <h2 class="footer__title">Friendly Solutions</h2>

            <ul class="nav__link nav__link--footer">
                <li class="nav__items">
                    <a href="/" class="nav__links">Inicio</a>
                </li>
                <li class="nav__items">
                    <a href="/acerca" class="nav__links">Acerca de</a>
                </li>
                <li class="nav__items">
                    <a href="https://api.whatsapp.com/send?phone=4423159281" class="nav__links">Contacto</a>
                </li>
                <li class="nav__items">
                    <a href="/blog" class="nav__links">Blog</a>
                </li>
            </ul>
        </nav>

        <form class="footer__form" action="https://formspree.io/f/mknkkrkj" method="POST">
            <h2 class="footer__newsletter">Suscribete a la newsletter</h2>
            <div class="footer__inputs">
                <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
                <input type="submit" value="Registrate" class="footer__submit">
            </div>
        </form>
    </section>

    <section class="footer__copy container">

        <h3 class="footer__copyright">Derechos reservados &copy; Friendly Solutions Incorporated</h3>
    </section>
</footer>






    <script src="/static/js/slider.js"></script>
    <script src="/static/js/questions.js"></script>
    <script src="/static/js/menu.js"></script>  
{% endblock %}

