{% extends './layout.html' %}

{% block title %}{{index}}{% endblock %}

{% block body %}



   
    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">100</div>
                <div class="cardName">Dudas Y Servicios Atendidos</div>
            </div>

            <div class="iconBx">
                <ion-icon name="build-outline"></ion-icon>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">80</div>
                <div class="cardName">Diagnosticos Realizados</div>
            </div>

            <div class="iconBx">
                <ion-icon name="analytics-outline"></ion-icon>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">20</div>
                <div class="cardName">Servicios Programados</div>
            </div>

            <div class="iconBx">
                <ion-icon name="calendar-number-outline"></ion-icon>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">10</div>
                <div class="cardName">Usuarios Activos</div>
            </div>

            <div class="iconBx">
                <ion-icon name="accessibility-outline"></ion-icon>
            </div>
        </div>
    </div>


{% endblock %}

