<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/servicios.css') }}">
    <title>Nuevo Servicio</title>
</head>

<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="hammer-outline"></ion-icon>
                        </span>
                        <span class="title">Frindly Solutions</span>
                    </a>
                </li>

                <li>
                    <a href="/">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="medico.html">
                        <span class="icon">
                            <ion-icon name="search-outline"></ion-icon>
                        </span>
                        <span class="title">Buscar</span>
                    </a>
                </li>
                <li>
                    <a href="/ajustes">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Ajustes</span>
                    </a>
                </li>

                
                <li>
                    <a href="/">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Salir</span>
                    </a>
                </li>
            </ul>
        </div>

       
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="user">
                    <img src="descarga.png" alt="">
                </div>
            </div>
        
        <center>
            <div class="container2">
                <header>Registrar Nuevo Servicio</header>
                <form action="/guardarservicio">
                    
                            <div class="fields">
                                <div class="input-field">
                                    <label>Id del Cliente</label>
                                    <input type="text" placeholder="Ingresar ID del cliente" name="txtid_cliente">
                                </div>
                                <div class="input-field">
                                    <label>Cve_serv</label>
                                    <input type="text" placeholder="Ingresar " name="txtcsv">
                                </div>
                                <div class="input-field">
                                    <label>Costo</label>
                                    <input type="number" placeholder="Ingresar el Costo" name="txtcosto">
                                </div>
                                <div class="input-field">
                                    <label>Numero Telefonico</label>
                                    <input type="text" placeholder="Ingresar el Numero de Telefono" name="txttel">
                                </div>
                                <div class="input-field">
                                    <label>Fecha del Servicio</label>
                                    <input type="date" placeholder="Ingresar la Fecha del Servicio" name="txtfecha">
                                </div>
                                <div class="input-field">
                                    <label>Correo</label>
                                    <input type="text" placeholder="Ingresar el Costo" name="txtcorreo">
                                </div>
                            </div>
                        </div> 
                    
                    <div class="button">
                        <input type="submit" value="Registrar">
                </form>
            </div>
        
        </center>

    
    <script>
        let list = document.querySelectorAll(".navigation li");

            function activeLink() {
            list.forEach((item) => {
            item.classList.remove("hovered");
            });
            this.classList.add("hovered");
            }

            list.forEach((item) => item.addEventListener("mouseover", activeLink));

    
        let toggle = document.querySelector(".toggle");
        let navigation = document.querySelector(".navigation");
        let main = document.querySelector(".main");

        toggle.onclick = function () {
        navigation.classList.toggle("active");
        main.classList.toggle("active");
        };  

    </script>
    
    <script src="assets/js/main.js"></script>

   
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    </form>
</body>
</html>