<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friendly solutions</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/solutions.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">

    <script src="static/js/script.js" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">Friendly Solutions</h2>
            </div>

            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                      <a href="/" class="nav__links">Inicio</a>
                </li>
                <li class="nav__items">
                        <a href="/acerca" class="nav__links">Acerca de</a>
                </li>
                <li class="nav__items">
                    <a href="https://api.whatsapp.com/send?phone=4423159281" class="nav__links">Contacto</a>
                </li>
                <li class="nav__items">
                        <a href="/blog" class="nav__links">Blog</a>
                </li>
                <li class="nav__items">
                    <a href="/login" class="nav__links nav__links--login">Iniciar Sesión</a>
                </li>

                <img src="/images/close.svg" alt="" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="/images/menu.svg" alt="" class="nav__img">
            </div>
        </nav>
        <section class="hero__container container">
            <h1 class="hero__title">Friendly Solutions</h1>
            <p class="hero__paragraph">Soluciones Amigables a sus Problemas Tecnicos</p>
        </section>
    </header>

    <body>
        <button class="chatbot-toggler">
            <span class="material-symbols-outlined">mode_comment</span>
            <span class="material-symbols-outlined">close</span>
         </button>
         <div class="chatbot">
             <header>
                 <h2>TecnicBot</h2> 
                 <span class="close-btn material-symbols-outlined">close</span>
             </header>
             <ul class="chatbox">
                 <li class="chat incoming">
                     <span class="material-symbols-outlined">smart_toy</span>
                     <p>Hola, <br>¿En que puedo ayudarte?</p>
                 </li>
             </ul>
             <div class="chat-input">
                 <textarea placeholder="Ingresa un mensaje..." required></textarea>
                 <span id="send-btn" class="material-symbols-outlined">send</span>
             </div>
         </div>
        
    </body>
    
       
    {% block body %}
      
    {% endblock %}
</body>
</html>